*,
*:before,
*:after {
  -webkit-overflow-scrolling: touch;

  /* remove this to restore nomral sizes */
  font-size: 32px;
}

html {
  font-size: 90%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  line-height: 1.6;
  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  
  -moz-font-feature-settings:"kern" 1; 
  -ms-font-feature-settings:"kern" 1; 
  -o-font-feature-settings:"kern" 1; 
  -webkit-font-feature-settings:"kern" 1; 
  font-feature-settings:"kern" 1;
  font-kerning: normal;
}

#___gatsby, #gatsby-focus-wrapper {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -.033em;
}

p {
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
